body {
  margin: 0;
  border-width: 0;
  padding: 0;
  background-color: #333;
  color: #ddd;
  box-sizing: border-box;
  height: 1000vh;
  touch-action: none;
}

canvas {
  position: fixed;
  max-width: 100%;
  max-height: 100%;
}

span {
  color: "#bbb"
}
.animate {
  -webkit-animation: filter-animation 59s infinite;
}
img {
  -webkit-animation: filter-animation-2 15s infinite;
}

.animate2 {
  -webkit-animation: filter-animation-2 15s infinite;
}
@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(180deg);
  }

  100% {
    -webkit-filter:  hue-rotate(360deg);
  }
}
@-webkit-keyframes filter-animation-2 {
  0% {
    -webkit-filter: saturate(1);
  }

  50% {
    -webkit-filter: saturate(5);
  }
  100% {
    -webkit-filter:  saturate(1);
  }
}

.canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Mobil UI */
.ui-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.ui-zoom {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5em;
}
.zoom-icon {
  width: 3.5rem;
  height: 3.5rem;
  margin: .5rem;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  border: .25rem #999 solid;
  border-radius: 50%;
}

/* .ui-wrap .icon {
  opacity: .3;
} */

.icon.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .3s, opacity .3s ease-in;
}
.icon.fade-in {
  visibility: visible;
  opacity: .5;
  transition: opacity .3s ease-out;
}

.settings-overlay.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .3s, opacity .3s ease;
}
.settings-overlay.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity .3s ease;
}

.icon,
button,
input[type="checkbox"] {
  cursor: pointer;
}

.ui-wrap div.icon:hover {
  opacity: 1 !important;
  cursor: pointer;
}

.zoom-in {
  background-image: url("/fractal-madness/src/icons/plus.svg");
}

.zoom-out {
  background-image: url("/fractal-madness/src/icons/minus.svg")
}

.ui-pan {
  position: absolute;
  left: .5rem;
  bottom: .5rem;
  width: 9rem;
  height: 9rem;
}

.pan-icon {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-image: url("/fractal-madness/src/icons/angle.svg");
  background-position: center;
  background-size: 100%;
}

.pan-up {
  top: 0;
  left: 3rem;
}

.pan-left {
  transform: rotate(270deg);
  top: 3rem;
  left: 0;
}

.pan-right {
  transform: rotate(90deg);
  top: 3rem;
  right: 0;
}

.pan-down {
  transform: rotate(180deg);
  bottom: 0;
  left: 3rem;
}

.settings-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url("/fractal-madness/src/icons/gear.svg");
  background-position: center;
  background-size: 100%;
  z-index: 2;
}

.settings-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.settings-panel {
  position: absolute;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.horizontal-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.iteration-button {
  width: 1.5rem;
  height: 1.5rem;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  /* border: .1rem #999 solid; */
  border-radius: 50%;
  margin: .2rem;
}

.color-select {
  min-height: 2.5rem;
  width: 100%;
  color: #111;
}

#settingsForm {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  min-width: 60%;
  min-height: 10rem;
  text-align: center;
}

#settingsForm .horizontal-wrap {
  min-height: 3rem;
  margin: .5rem;
}


#settingsForm input {
  min-height: 2rem;
  color: #111;
}

#setSettings {
  padding: .5rem 1.5rem;
  font-size: 1.5rem;
  min-height: 3rem;
  background-color: #aaa;
  color: #111;
  border: .15rem #eee solid;
}

.is-hidden {
  visibility: hidden;
}

input {
  width: 3rem;
}

#resolutionInput {
  margin: 0 1rem;
}
