button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
&::-moz-focus-inner {
    border: 0;
    padding: 0;
}



body {
  margin: 0;
  border-width: 0;
  padding: 0;
  background-color: #333;
  color: #ddd;
  box-sizing: border-box;
  height: 1000vh;
  touch-action: none;
}

canvas {
  position: fixed;
  max-width: 100%;
  max-height: 100%;
}

.legacy-ui {
  display: none;
}

span {
  color: "#bbb"
}
.animate {
  -webkit-animation: filter-animation 59s infinite;
}
img {
  -webkit-animation: filter-animation-2 15s infinite;
}

.animate2 {
  -webkit-animation: filter-animation-2 15s infinite;
}
@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(180deg);
  }

  100% {
    -webkit-filter:  hue-rotate(360deg);
  }
}
@-webkit-keyframes filter-animation-2 {
  0% {
    -webkit-filter: saturate(1);
  }

  50% {
    -webkit-filter: saturate(5);
  }
  100% {
    -webkit-filter:  saturate(1);
  }
}

.canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Mobil UI */
.ui-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.ui-zoom {
  position: absolute;
  right: 0;
  bottom: 0;
  /* width: 6rem; */
  /* height: 9rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5em;
}
.zoom-icon {
  width: 3.5rem;
  height: 3.5rem;
  margin: .5rem;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  border: .25rem #999 solid;
  border-radius: 50%;
}

.zoom-in {
  background-image: url("/src/icons/plus.svg");
}

.zoom-out {
  background-image: url("/src/icons/minus.svg")
}

.ui-pan {
  position: absolute;
  left: .5rem;
  bottom: .5rem;
  width: 9rem;
  height: 9rem;
}

.pan-icon {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-image: url("/src/icons/angle.svg");
  background-position: center;
  background-size: 100%;
}

.pan-up {
  top: 0;
  left: 3rem;
}

.pan-left {
  transform: rotate(270deg);
  top: 3rem;
  left: 0;
}

.pan-right {
  transform: rotate(90deg);
  top: 3rem;
  right: 0;
}

.pan-down {
  transform: rotate(180deg);
  bottom: 0;
  left: 3rem;
}

.settings-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url("/icons/gear.svg");
  background-position: center;
  background-size: 100%;
  z-index: 2;
}

.settings-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings-panel {
  position: absolute;
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.iteration-button {
  width: 1.5rem;
  height: 1.5rem;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  /* border: .1rem #999 solid; */
  border-radius: 50%;
  margin: .2rem;
}

#settingsForm {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  min-width: 20rem;
  text-align: center;
}

#settingForm .horizontal-wrap {
  min-height: 4rem;
}

#settingsForm input {
  min-height: 2rem;
}

#setSettings {
  padding: .5rem 1.5rem;
  font-size: 1.5rem;
  margin: 1rem;
  background-color: #aaa;
  color: #333;
  border: .15rem #eee solid;
}

.is-hidden {
  visibility: hidden;
}

input {
  width: 3rem;
}
